<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TwitchInfo.Data.Properties.Settings.TwitchTrackerConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=TwitchTracker;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>