<button class="btn btn-primary" id="add-viewer">Add A Viewer</button>

<div id="add-viewer-div" class="hidden">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="well">
                <form method="POST" action="/Home/AddViewer">
                    <input type="text" name="firstName" placeholder="First Name" class="form-control" />
                    <br />
                    <input type="text" name="lastName" placeholder="Last Name" class="form-control" />
                    <br />
                    <input type="text" name="age" placeholder="Age" class="form-control" />
                    <br />
                    <label class="radio-inline"><input type="radio" value="1" name="optradio">Can Use Mature Channels</label>
                    <label class="radio-inline"><input type="radio" value="0" name="optradio">Can Not Use Mature Channels</label>
                    <button class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<ol id="list-of-viewers"></ol>
